@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'roboto',sans-serif;
}

/* Header-Start */
.material-symbols-outlined{
    color: rgb(0,0 ,0);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
}

.header-left{
    display: flex;
    align-items: center;
}

.header-left img{
    width: 80px;
    margin: 15px;
}

.header i{
    cursor: pointer;
    padding: 0px 7px;
}

.header-search{
    display: flex;
}

.header-search form{
    border: 1px solid white;
    height: 35px;
    display: flex;
    border: none;
}

.header-search input{
    width: 500px;
    padding: 5px;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    border-right: none;
}

.header-search button{

    height: 100%;
    border-top-right-radius: 60px;
    border-bottom-right-radius: 60px;
    border-left: none;
}

.search-mic{
    margin-left:10px ;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
}

.search-mic :hover{
  background-color: #5e5e5e;
  height: 30px;
  width: 30px;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
    border-radius: 50%;
}


/* Header Ends */

/* Main Body Start */

.main-Body{
    height: calc(100vh-70px);
    display: flex;
    overflow: hidden;
}


/* Side Bar Start */
.sidebar{
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y:scroll ;
}

.sidebar-categories{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.sidebar-category{
    align-items: center;
    padding: 12px 25px;
    display: flex;
}

.sidebar-category span{
    margin-left: 15px;
}

.sidebar-category :hover{
    background-color: #5e5e5e;
    cursor: pointer;
}